.contenedor{

  width:80%;
  margin-left: 10%;
  background-image: url('/assets/textura.jpg');
  padding: 40px;
  color: aliceblue;
  border-radius: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.contenedor button{
  margin-left: 44%;
}
