<pre class="area">
  <div class="container">
    <div class="text">
      <h2 class="hache1">ESTAS EMPRESAS AVALAN LA CALIDAD DE NUESTROS PRODUCTOS
        ADEMÁS DE NUESTRAS CERTIFICACIONES DE ÁMBITO INTERNACIONAL</h2>
    </div>
    <br>
    <table class="tabla">
      <tr><td><img src="../assets/ecolabel.png" alt="" class="ecoLabel"></td>
        <td><img src="../assets/greenpeace.png" alt="" class="greenpeace"></td></tr>
      <tr><td><img src="../assets/iberdrola.jpg" alt="" class="iberdrola"></td>
        <td><img src="../assets/energy.jpg" alt="" class="energy"></td></tr>
    </table>
    <div class="background"></div>
  </div>
</pre>
