<div class="navegador">

<button mat-button [matMenuTriggerFor]="menu" class="boton" ><img src="assets/barras.png" alt="barras"></button>


  <img class='usuario' id='usuario' src="../../assets/usuario.png" alt="">

  <h2 id='hola'async>Bienvenido {{nombre.nombre}}</h2>





<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/quieneSomos">Quienes somos</button>
  <button mat-menu-item routerLink="/medioAmbiente">Medio ambiente</button>
  <button mat-menu-item>Catálogo</button>
</mat-menu>

<a class="fondo_titulo" routerLink="">
  <img src="assets/logo_alpha.png" alt="">
</a>


<app-login></app-login>

</div>
