
.navegador{
  background-color: greenyellow;
  display:flex;
  justify-content: space-around;
  border-radius: 137px 137px 137px 137px;
  width: 80%;
  margin-left: 10%;
}

.fondo_titulo img{
  width: 50px;
  margin-top: 8px;
}

.boton img{

  width: 30px;
}

.usuario{
  margin-top: 10px;
  height:50px;
  width: 50px;
}

#botonCliente{

    margin-top: 10px;
    margin-bottom: 10px;
}

#alert{

 display : 'none';
  visibility : 'hidden';
}

h2{
  margin-top: 1.3%;
}
