
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.4/angular.min.js"></script>

  <div class="background">


    <div class="fila">

        <div class="pdf">
          <button type="button" class="btn btn-info"(click)="descargaPdf()"> <a href="assets/manual.pdf" download >Descargar pdf </a> </button>
        </div>

        <div class="titulo">
          <strong><span>PANEL DE AYUDA</span></strong>
         </div>

        <div class="contenedorBoton">
          <button id="botonCerrar" type="button" class="btn btn-danger" (click)="esconderPanel()">Cerrar</button>
        </div>

    </div>


    <br><br>

    <div class="text">
      &nbsp;&nbsp; <p> 1) Pulse el botón "Registrarse" para crear un usuario e incribirse en nuestra plataforma.
      Será necesario crear un nickname o nombre falso, su correo electrónico para la recepción de la factura
      de sus pedidos y una contraseña
      <br><br>
      &nbsp;&nbsp;  2) Pulse el botón "Iniciar cuenta" para acceder a tu area de cliente una vez y solo si
      has realizado el paso anterior. Puede usar opcionalmente o el nickmane o el correo, pero es necesario
      una de estas opciones y la contraseña. Tras esto, pulse el botón "Acceder".
      <br><br>
      &nbsp;&nbsp; 3) En el area de cliente, puede pulsar el botón "Categoría" para seleccionar un grupo de
      productos con unas características comunes. Por defecto viene la lista entera de productos que dispone
      la tienda. Pulsando el botón "Añadir al carrito" se añade ese producto al carrito de la compra, y si
      se vuelve a seleccionar, se suman unidades del mismo. Una vez termine, pulse el botón "Finalizar compra"

      <br><br>
      &nbsp;&nbsp;4) A continuación dispone de dos formas de pago. O pagando en efectivo, es decir, pagando
      en persona al cartero que traiga el paquete a su domicilio, o pagando con cuenta bancaria. Si selecciona
      el método por tarjeta, de berá introducir los datos en el formato válido (código de tres dígitos y cuatro
      grupos de cuatro números dividido por guiones)

      <br><br>
      &nbsp;&nbsp;  5) Por último, confirme el pedido o rechácelo para volver a pasos anteriores. Al confirmarlo
      le llegará un correo con la factura a la bandeja de entrada de la dirección de correo electrónico que
      introdujo al registrarse.
    </p>
    </div>
  </div>



