.zonAdmin{

  z-index: 1000;
  width: 100%;
  height: 130%;
  margin-top: -5%;
  background-color: white;
}

#volver{

  margin-top: 3%;
  margin-left: 2%;
}

#contenedorPrincipal{

  display: flex;
  justify-content: center;
}

H1{
  display: flex;
  justify-content: center;
}

#tablaFormulario{
  display: flex;
  justify-content: center;
}


#tablaFormulario #celda{
  display: flex;
  flex-direction: row;
}

#tablaFormulario #celdaDos{
  display: flex;
  flex-direction: row;
}
