
<div class="zonAdmin">
<!-- <p>hola</p> -->

<button  type="button" class="btn btn-info" id="volver" routerLink="">Volver</button>



  <div class="contenedorPrincipal" id="contenedorPrincipal">
    <div id="contenedor">
      <div id="tituloAdmin">
        <h1>Administración de artículos</h1>
      </div>


        <table class="table table-bordered table-dark " border="1" *ngIf="hayRegistros(); else sinarticulos" id="tablaProductos">
          <thead class="thead-light">
            <tr>
              <th>Nombre</th><th>Descripcion</th><th>Imagen</th><th>Precio</th><th>Descuento</th><th>Categoria</th><th>Borrar</th><th>Seleccionar</th>
            </tr>
          </thead>

          <tr *ngFor="let art of productos">
            <td>{{art.nombre}}</td>
            <td>{{art.descripcion}}</td>
            <td>{{art.imagen}}</td>
            <td >{{art.precio}}</td>
            <td >{{art.descuento}}%</td>
            <td>{{art.categoria}}</td>
            <td><button  type="button" class="btn btn-danger" (click)="baja(art.codigo)">Borrar</button></td>
            <td><button type="button" class="btn btn-warning" (click)="seleccionar(art.codigo)">Seleccionar</button></td>
          </tr>
        </table>

        <br>

        <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>

        <br>
        <div id="tablaFormulario">
          <table >

            <tr>
              <td>
                <p>
                  Nombre:<input type="text" [(ngModel)]="art.nombre" />
                </p>
              </td>
              <td id="celda">
                 <p id="parrafoFor">Descripcion:</p>
                <textarea id="textarea" name="textarea" rows="1" cols="30" [(ngModel)]="art.descripcion"></textarea>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                <p>
                  Imagen:<input type="text" [(ngModel)]="art.imagen" />
                </p>
              </td>
              <td>
                <p>
                  Precio:<input type="number" [(ngModel)]="art.precio" />
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <p>
                  Descuento:<input type="number" [(ngModel)]="art.descuento" />
                  &nbsp;&nbsp;
                </p>



              </td>

              <td id="celdaDos">
                <p>
                  Categoria:<input type="text" [(ngModel)]="art.categoria" />
                </p>


              </td>

            </tr>

            <tr>
              <!-- <form class="formulario" action="https://localhost/eco_clothes/alta.php" method="post" enctype="multipart/form-data"> -->
                <td>
                 <form (ngSubmit)="upload()">
                   <input type="text" [(ngModel)]="archivo.nombre" name="file">
                  Imagen: <input type="file" accept="imagen/*" name="fileSubir" id="imagen" (change)="subirImagen($event)">
                  <button>Subir imagen</button>
                 </form>


                </td>
                &nbsp;&nbsp;
                <button  (click)="alta()">Agregar</button>
                &nbsp; &nbsp;
                <button (click)="modificacion()">Modificar</button>
              <!-- </form> -->
            </tr>

          </table>
        </div>


    </div>
  </div>

</div>
