.zonAdmin{

  z-index: 1;
  width: 100%;
  height: 280%;
  margin-top: 1%;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}



#volver{

  margin-top: 3%;
  margin-left: 2%;
}

#contenedorPrincipal{

  display: flex;
  justify-content: center;
}

H1{
  display: flex;
  justify-content: center;
}

#tablaFormulario{
  display: flex;
  justify-content: center;
}


#tablaFormulario #celda{
  display: flex;
  flex-direction: row;
}

#tablaFormulario #celdaDos{
  display: flex;
  flex-direction: row;
}

#tablaProductos{

  /* display: flex;
  justify-content: center; */
  margin-left: 6%;
  width: 90%;
  border: white 3px solid;
  border-collapse: separate;
}

#tablaProductos td {

  border: white 3px solid;
}

#formularioimagen{

  display: flex;
  flex-direction: column;
}


