
<div class="zonAdmin">
<!-- <p>hola</p> -->

<button  type="button" class="btn btn-info" id="volver" routerLink="">Volver</button>



  <div class="contenedorPrincipal" id="contenedorPrincipal">
    <div id="contenedor">
      <div id="tituloAdmin">
        <h1>Administración de artículos</h1>
      </div>


        <table border="1" *ngIf="hayRegistros(); else sinarticulos">
          <tr>
            <td>Nombre</td><td>Descripcion</td><td>Imagen</td><td>Precio</td><td>Descuento</td><td>Borrar</td><td>Seleccionar</td>
          </tr>
          <tr *ngFor="let art of productos">
            <td>{{art.nombre}}</td>
            <td> {{art.descripcion}}</td>
            <td>{{art.imagen}}</td>
            <td>{{art.precio}}</td>
            <td>{{art.descuento}}</td>
            <td><button (click)="baja(art.codigo)">Borrar</button></td>
            <td><button (click)="seleccionar(art.codigo)">Seleccionar</button></td>
          </tr>
        </table>

        <br>

        <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>

        <br>
        <div id="tablaFormulario">
          <table >

            <tr>
              <td>
                <p>
                  Nombre:<input type="text" [(ngModel)]="art.nombre" />
                </p>
              </td>
              <td id="celda">
                 <p id="parrafoFor">Descripcion:</p>
                <textarea id="textarea" name="textarea" rows="1" cols="30" [(ngModel)]="art.descripcion"></textarea>
              </td>
            </tr>
            <br>
            <tr>
              <td>
                <p>
                  Imagen:<input type="text" [(ngModel)]="art.imagen" />
                </p>
              </td>
              <td>
                <p>
                  Precio:<input type="number" [(ngModel)]="art.precio" />
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <p>
                  Descuento:<input type="number" [(ngModel)]="art.descuento" />
                  &nbsp;&nbsp;
                </p>

              </td>

              <td id="celdaDos">
                <p>
                  Categoria:<input type="text" [(ngModel)]="art.categoria" />
                </p>
                &nbsp;&nbsp;
                <button (click)="alta()">Agregar</button>
                &nbsp; &nbsp;
                <button (click)="modificacion()">Modificar</button>
              </td>
            </tr>

          </table>
        </div>


    </div>
  </div>

</div>
