
<div class="fondo">

  <h1>Administración de artículos</h1>



    <table class="table table-warning table-bordered"  *ngIf="hayRegistros(); else sinarticulos" cellspacing="0">



      <div class="categoria">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categoria
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="recuperarTodos()">(Todos)</button>
            <button class="dropdown-item" type="button" (click)="recuperarPrendas('mujer')">Mujer</button>
            <button class="dropdown-item" type="button" (click)="recuperarPrendas('hombre')">Hombre</button>
            <button class="dropdown-item" type="button" (click)="recuperarPrendas('unisex')">Unisex</button>
          </div>
        </div>
      </div>


      <div class="contenedor" >
        <div class="listaCompra">
          <h1>Lista de la compra</h1>
          <ul class="list-group" >
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let ped of pedidoActivo">
              {{ped.nomProducto}}
              <span class="badge badge-primary badge-pill">{{ped.cantidad}}</span>
            </li>
          </ul>
        </div>

        <div class="columna" >
          <img src="../assets/carrito.png" alt="" class="carro">
          <br><br>
          <h1> <strong *ngIf="total!=null;">HAY {{total.total}} PRODUCTOS </strong> </h1>
          <!-- <button id="actualizar" (click)="actualizarTotal()">ACTUALIZAR CESTA</button> -->
          <button id="fin" routerLink="/credito">FINALIZAR COMPRA</button>
        </div>
      </div>


      <tr scope="row" id="fila" >
        <td *ngFor="let art of articulos;let indice=index">
          <div class="card" style="width: 18rem;" >
            <img src='assets/{{art.imagen}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{art.nombre}}</h5>
              <p class="card-text">Precio: {{art.precio}}</p>
              <p class="card-text">Descuento: {{art.descuento}}</p>
              <a id="carrito" class="btn btn-primary" (click)="carrito(art.codigo,art.precio)" (click)="totalPedido()">Añadir al carrito </a>
            </div>
          </div>
        </td>
      </tr>

    </table>

    <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
    <!-- <div class="formulario">
      <p>
        Nombre:<input type="text" [(ngModel)]="art.nombre" />
      </p>
      <p>
        Imagen:<input type="text" [(ngModel)]="art.imagen" />
      </p>
      <p>
        Precio:<input type="number" [(ngModel)]="art.precio" />
      </p>
      <p>
        Descuento:<input type="number" [(ngModel)]="art.descuento" />
      </p>
      <p><button (click)="alta()">Agregar</button>
      <button (click)="modificacion()">Modificar</button></p>
    </div> -->

      <!-- <tr scope="row" *ngFor="let art of articulos">
        {{art.nombre}}
        <td><img src='assets/{{art.imagen}}'></td>
        <td>{{art.precio}}</td>
        <td>{{art.descuento}}</td>
        <td><button (click)="carrito(art.codigo,art.precio)">Añadir al carrito</button></td>
         <td><button (click)="seleccionar(art.codigo)">Seleccionar</button></td>
      </tr> -->
</div>



<ng-template #sinpedidos><p>No hay articulos.</p></ng-template>
