




<div class="fondo">
  <h1>Administración de artículos</h1>

    <table class="table table-warning table-bordered" border="1" *ngIf="hayRegistros(); else sinarticulos">
      <tr scope="row">
        <td>Nombre</td><td>Imagen</td><td>Precio</td><td>Descuento</td><td>Añadir</td><!--<td>Seleccionar</td>-->
      </tr>
      <tr scope="row" *ngFor="let art of articulos">
        <td scope="col">{{art.nombre}}</td>
        <td><img src='assets/{{art.imagen}}'></td>
        <td scope="col">{{art.precio}}</td>
        <td>{{art.descuento}}</td>
        <td scope="col"><button (click)="carrito(art.codigo)" (click)="anadirCarro(art.codigo)">Añadir al carrito</button></td>
        <!-- <td><button (click)="seleccionar(art.codigo)">Seleccionar</button></td> -->
      </tr>
    </table>

    <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
    <!-- <div class="formulario">
      <p>
        Nombre:<input type="text" [(ngModel)]="art.nombre" />
      </p>
      <p>
        Imagen:<input type="text" [(ngModel)]="art.imagen" />
      </p>
      <p>
        Precio:<input type="number" [(ngModel)]="art.precio" />
      </p>
      <p>
        Descuento:<input type="number" [(ngModel)]="art.descuento" />
      </p>
      <p><button (click)="alta()">Agregar</button>
      <button (click)="modificacion()">Modificar</button></p>
    </div> -->
</div>


<div class="contenedor">

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
      </li>
    </ul>

    <ng-template #sinpedido><p>No hay articulos.</p></ng-template>

    <div class="columna">
      <img src="../assets/carrito.png" alt="" class="carro">
      <br><br>
      <h1> <strong>HAY {{total}} PRODUCTOS </strong> </h1>
    </div>

</div>


