.fondo{

  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

.fondo h1{
  display: flex;
  justify-content: center;
}

.fondo .formulario{

  margin-left: 300px;
}

img{
  width: 40px;
}

.fondo{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius:5%;
  margin-top: 50px;
}

table{
  border-radius:5%;
}

.contenedor{
  top:180px;
  position: sticky;
  margin-left: 600px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.carro{
  width: 150px;
}

.columna{


  display:flex;
  flex-direction: column;

}

.list-group span{

  margin-left: 100px;
}

img{
  margin-left: 45px;
  width: 200px;
}

.card{
  display: flex;
  flex-direction: column;
}

#fila{
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}







