.fondo{

  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

.fondo h1{
  display: flex;
  justify-content: center;
}

.fondo .formulario{

  margin-left: 300px;
}

img{
  width: 40px;
}

.fondo{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius:5%;
  margin-top: 50px;
}

table{
  border-radius:5%;
}

.contenedor{
  margin-top: 5%;
  margin-right: 150px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

.carro{
  width: 150px;
}

.columna{

  display:flex;
  flex-direction: column;
}

.list-group span{

  margin-left: 300px;
}





