.fondo{

  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}

.fondo h1{
  display: flex;
  justify-content: center;
}

.fondo table{

  margin-left: 300px;
  text-align: center;
}

.fondo .formulario{

  margin-left: 300px;
}

img{
  width: 40px;
}
