/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  /*
    display: flex;
    justify-content: center; */
    background-image: url('src/assets/fondo.jpg');
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

  }


  @media (max-width: 758px) {
    body{
      width: 758px;
    }
  }
