<body>
    <div class="contenedor">

        <h1>ACCEDA AL AREA DE CLIENTES</h1>
        <h4>Introduce tu nickname o correo</h4>

        <div class="caja">
          <mat-form-field >
            <input *ngIf="cookieIdentidad!=null; else sinCookie"  matInput  [(ngModel)]="cliente.identidad" >

            <ng-template #sinCookie><input matInput type="text" placeholder="Ingrese nombre o correo" [(ngModel)]="cliente.identidad"></ng-template>
          </mat-form-field>
        </div>

        <h4>Introduce tu contraseña</h4>

        <div class="caja">
          <mat-form-field>
            <input matInput type="password" [(ngModel)]="cliente.password" >
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" id="botonAcceso" (click)="acceso()"> Acceder</button>

    </div>
</body>

<!-- placeholder="Ingrese contraseña"  -->
