
.container {
  border: 1px;
  padding: 20px;
  margin: 20px;
  width: 80%;
  height: 500px;
  margin-left: 5rem;
  border-radius: 5%;
}

.text {
  width: 20px;
  height: 100px;
  background-color: transparent;
  padding: 10px;
  color: white;
  position: absolute;
  z-index: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin-top: 110px;
  margin-left: 30px;
}

.background {

  width: 98%;
  height: 400px;
  background-color: green;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border-radius: 5%;
  opacity: 0.5;
}

.trans {
  opacity: 0.5;
}

span{
  margin-left:290px;
}
