
<div class="area">

  <div class="container">

    <div class="text"> &#09; Somos la empresa lider en venta online de ropa ecólogica y de segunda mano, fomentando
      un mundo mas sostenible con nuestro planeta tierra, reutilizando prendas ya existentes para disminuir
      su producción masificada e intentar competir con las multinacionales capitalistas globalistas.Queremos
      que compre ropa por la necesidad de vestir y protegerte del medio, aunque sea ropa elegante, para salir
      o para trabajar, no que gastes dinero innecesariamente por una marca o un logo que financia actividades
      como la explotación infantil en países subdesarrollados

    <br><br><br>
    <span>VISTE NATURAL</span>
    </div>

    <div class="background"></div>

  </div>

</div>
